[submodule "src/px4-ros2-interface-lib"]
	path = src/px4-ros2-interface-lib
	url = https://github.com/Auterion/px4-ros2-interface-lib.git
[submodule "src/yolo-ros2"]
	path = src/yolo-ros2
	url = https://github.com/kimhoyun-robotair/yolo-ros2.git
